body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent; /* Прозрачный фон для body */
    overflow: hidden; /* Убираем прокрутку */
}

#particles-js {
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Частицы на заднем плане */
}

.content-container {
    position: relative;
    z-index: 1;
    text-align: center;
   
    padding: 40px;
    border-radius: 10px;
}

.button-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.button {
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid white;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
    min-width: 150px;
    text-align: center;
}

/* Стили при наведении */
.steam:hover {
    color: black;
    background-color: white;
}

.telegram:hover {
    color: black;
    background-color: white;
}

.creativity:hover {
    color: black;
    background-color: white;
}

/* Адаптивное поведение */
@media (max-width: 768px) {
    .button-container {
        flex-direction: column;
    }
}
